/* Global Style sets background,
aligns default h1 and h2 tags nav elents to center */
body {
  background-image: radial-gradient(cyan 65%, lime);
  font-family: monospace;
}

h1, h2 {
  text-align: center;
}

.top {
  background-color: white;
  height: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 100%;
  padding: 1%;
}

/* style for demo box image containers */
.box > .container {
  display: flex;
  justify-content: center;
}

/* Sets size for demo box images */
.demo-image {
  width: 256px;
}

.overview, .hobbies {
  background-color: antiquewhite;
}

#nav-head {
  text-align: center;
  text-decoration: underline;
}
/* moves nav pane into view when navicon is clicked open */
.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* sets nav links to a visible color and pads them */
.nav-link {
  color: white;
}

.nav-list {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-list > a:visited {
  color: inherit;
}

.hobbyimg {
  width: 100%;
}

.float-image {
  box-shadow: 10px 10px 5px grey;
  background-color: rgba(0, 0, 0, .5);
}

footer {
  background-color: rgba(255, 255, 255);
}

/* Very Small Screen */
@media screen and (min-width: 1px) and (max-width: 350px) {
  h2 {
    width: 100%;
    text-align: center;
  }

  p {
    padding: 1%;
  }

  .top {
    padding: 1%;
    border: 2px solid blue;
  }

  .container {
    width: 97%;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  /* Nav transform and animation from Udacity course Moves nav off screen.
  Also, we make this happen over time with a nice snappy transition. */
  nav {
    color: white;
    background-color: darkblue;
    width: 200px;
    height: 100%;
    position: absolute;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
  }

 /* Thanks to W3C for the awesome Navicon guide https://www.w3schools.com/howto/howto_css_menu_icon.asp */
  .nav-container {
    display: inline-block;
    cursor: pointer;
    margin: auto;
  }
  /* builds a hamburger using divs */
  .burg1, .burg2, .burg3 {
    width: 60px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }

 /* Rotate first line */
  .change .burg1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }

 /* Fade out */
  .change .burg2 {
    opacity: 0;
  }

 /* Rotate last line */
  .change .burg3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  .avatar {
    width: 20%;
  }
/* Rounds profile image and sets a padding ring to the color cyan */
  #prof-image {
    width: 100%;
    margin-top: 10%;
    padding: 5%;
    border-radius: 50%;
    background-color: cyan;
  }

  .title-bar {
    width: 74%;
    margin-top: 3%;
    text-align: center;
    font-size: small;
  }

}

/* Mobile or Small Screen Style */
@media screen and (min-width: 351px) and (max-width: 450px) {
  h2 {
    width: 100%;
    text-align: center;
  }

  p {
    padding: 1%;
  }

  .top {
    padding: 1%;
    border: 2px solid blue;
  }

  .container {
    width: 97%;
    height: 100%;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  /* Nav transform and animation from Udacity course Moves nav off screen.
  Also, we make this happen over time with a nice snappy transition. */
  nav {
    color: white;
    background-color: darkblue;
    width: 200px;
    height: 100%;
    position: absolute;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
  }

 /* Thanks to W3C for the awesome Navicon guide https://www.w3schools.com/howto/howto_css_menu_icon.asp */
  .nav-container {
    display: inline-block;
    cursor: pointer;
  }
  /* creates navicon bars from divs */
  .burg1, .burg2, .burg3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }

 /* Rotate first bar */
  .change .burg1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }

 /* Fade out the second bar */
  .change .burg2 {
    opacity: 0;
  }

 /* Rotate last bar */
  .change .burg3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  .avatar {
    width: 20%;
  }

  #prof-image {
    width: 100%;
    margin-top: 5%;
    padding: 5%;
    border-radius: 50%;
    background-color: cyan;
  }

  .title-bar {
    width: 65%;
    margin-top: 3%;
    text-align: center;
    font-size: small;
  }

}

@media screen and (min-width: 451px) and (max-width: 834px) {
  body {
    font-size: 120%;
  }

  h2 {
    width: 100%;
    text-align: center;
  }

  p {
    padding: 1%;
  }

  .top {
    padding: 1%;
    border: 2px solid blue;
    position: relative;
    height: 130px;
  }

  .top .container {
    width: 415px;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }


  /* Nav transform and animation from Udacity course Moves nav off screen.
  Also, we make this happen over time with a nice snappy transition. */
  nav {
    color: white;
    background-color: darkblue;
    width: 200px;
    height: 100%;
    position: absolute;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
  }

 /* Thanks to W3C for the awesome Navicon guide https://www.w3schools.com/howto/howto_css_menu_icon.asp */
  .nav-container {
    display: inline-block;
    cursor: pointer;
    margin-left: 2%;
  }
  /* creates navicon bars from divs */
  .burg1, .burg2, .burg3 {
    width: 45px;
    height: 5px;
    background-color: black;
    margin: 5px 0%;
    transition: 0.4s;
  }

 /* Rotate first bar */
  .change .burg1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-6px, 6px) ;
  }

 /* Fade out the second bar */
  .change .burg2 {
    opacity: 0;
  }

 /* Rotate last bar */
  .change .burg3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  .avatar {
    width: 80px;
  }

  #prof-image {
    width: 100%;
    margin-top: 5%;
    padding: 5%;
    border-radius: 50%;
    background-color: cyan;
  }

  .title-bar {
    width: 250px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
  }
}

/* Medium Screen Tablet design */
@media screen and (min-width: 835px) and (max-width: 1099px) {
  body {
    font-size: 120%;
  }

  h2 {
    width: 100%;
    text-align: center;
  }

  p {
    padding: 1%;
  }

  .top {
    padding: 1%;
    border: 2px solid blue;
    position: relative;
    height: 130px;
  }

  .top .container {
    width: 415px;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  /* Nav transform and animation from Udacity course Moves nav off screen.
  Also, we make this happen over time with a nice snappy transition. */
  nav {
    color: white;
    background-color: darkblue;
    width: 200px;
    height: 100%;
    position: absolute;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
  }

 /* Thanks to W3C for the awesome Navicon guide https://www.w3schools.com/howto/howto_css_menu_icon.asp */
  .nav-container {
    display: inline-block;
    cursor: pointer;
    margin-left: 2%;
  }
  /* creates navicon bars from divs */
  .burg1, .burg2, .burg3 {
    width: 45px;
    height: 5px;
    background-color: black;
    margin: 5px 0%;
    transition: 0.4s;
  }

 /* Rotate first bar */
  .change .burg1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-6px, 6px) ;
  }

 /* Fade out the second bar */
  .change .burg2 {
    opacity: 0;
  }

 /* Rotate last bar */
  .change .burg3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  .avatar {
    width: 80px;
  }

  #prof-image {
    width: 100%;
    margin-top: 5%;
    padding: 5%;
    border-radius: 50%;
    background-color: cyan;
  }

  .title-bar {
    width: 250px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
  }
}

/*Large Screen Tablet and Desktop design TEST combine medium with desktop*/
@media screen and (min-width: 1100px) {
  body {
    font-size: 120%;
  }

  h2 {
    width: 100%;
    text-align: center;
  }

  p {
    padding: 1%;
  }

  .top {
    padding: 1%;
    border: 2px solid blue;
    position: relative;
    height: 276px;
  }
  /* Nav transform and animation from Udacity course Moves nav off screen.
  Also, we make this happen over time with a nice snappy transition. */
  nav {
    color: white;
    background-color: darkblue;
    width: 400px;
    height: 100%;
    position: absolute;
    -webkit-transform: translate(-400px, 0);
    transform: translate(-408px, 0);
    transition: transform 0.3s ease;
  }

  #navul {
    margin-left: 112px;
  }

 /* Thanks to W3C for the awesome Navicon guide https://www.w3schools.com/howto/howto_css_menu_icon.asp */
  .nav-container {
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
  }
  /* creates navicon bars from divs */
  .burg1, .burg2, .burg3 {
    width: 45px;
    height: 5px;
    background-color: black;
    margin: 5px 0%;
    transition: 0.4s;
  }

 /* Rotate first bar */
  .change .burg1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-6px, 6px) ;
  }

 /* Fade out the second bar */
  .change .burg2 {
    opacity: 0;
  }

 /* Rotate last bar */
  .change .burg3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  .avatar {
    width: 233px;
  }

  #prof-image {
    width: 100%;
    padding: 5px;
    border-radius: 50%;
    background-color: cyan;
  }

  .title-bar {
    width: 65%;
    margin-top: 44px;
    text-align: center;
    font-size: 140%;
  }

  .float-text {
    float: left;
    width: 45%
  }

  .float-image {
    float: right;
    width: 50%;
  }
}
