body {
  background-color: lightgrey;
}

.header {
  background-color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 100%;
  padding: 1%;
}

.overview {
  background-color: white;
}

/* Mobile or Small Screen Style */
@media screen and (min-width: 1px) and (max-width: 450px) {
  .header {
    padding: 1%;
    border: 2px solid blue;
  }

  .avatar {
    width: 20%;
  }

  #prof-image {
    width: 100%;
    padding: 5%;
    border-radius: 50%;
    background-color: cyan;
  }

  .title-bar {
    width: 72%;
    text-align: center;
  }

}
